body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #fff;
  padding-top: 40px;
}

h1 {
  text-align: center;
}

.navbar-inverse {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #333;
  border: none;
}

.middle_section {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          border-radius: 25px;
          border: thin solid #fff;
          padding-top: 15px;
          padding-bottom: 5px;
}

.twitter {
  position: fixed;
}

.twitter h2 {
    text-align: center;
}

.tweets {
  overflow: auto;
  height: 400px;
  width: 400px;
}

.tweet {
display: inline-block;
 font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
 font-size: 12px;
 font-weight: bold;
 line-height: 16px;
 margin: 10px 5px;
 padding: 3px;
 max-width: 468px;

}


.tweet-user h3 {
  display: inline-block;
  margin-top: 0.5em;
/*  font-family: Helvetica Neue Pro 75 Bold*/
}

.tweet-user h4 {
  padding-left: 2.8em;
  margin-top: -0.85em;
}

.tweet-body p {
  font-size: 16px;
    font-weight: normal;
    line-height: 20px;

}

.tweet-actions a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

.tweet-logo {
  float: right;
  margin-top: -5.5em;
}

.right_section col-md-4 {
  display: block;
}

.youtube {
  position: fixed;
  margin-top: 35em;
  height: 400px;
  width: 400px;
}

.youtube h2 {
  text-align: center;
}

#navbar-toggle {
    float: left;
  }

@media (min-width: 300px) {
  .twitter {
    position: relative;
  }
}


@media (min-width: 992px) {
  .twitter {
    position: fixed;
  }
