body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/*
div {
  border: thin solid black;
}

.middle_section{
  border: thin solid black;
}

.right_section {
}

.left_section {
  border: thin solid black;
}
*/
h1 {
  text-align: center;
}
