<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bambimusiikki</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='add.css') }} />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>

  <header><h1>LOGO</h1></header>
  <div class="container">
    <div class="navbar">
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/add">Add profile</a></li>
              <li><a href="/artist">Artist</a></li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search artist or band">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
      </nav>
    </div>
  </div>

<div class="container">

  <section class="middle col-md-12">
    <!-- <img src="profiili.png"> -->
        <form class="form-horizontal">
          <!-- <label>Band name:</label><input type="text" name="artist"><br> -->
          <div class="form-group">
              <label for="inputName" class="col-sm-2 control-label">Band/Artist name</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputName" placeholder="Name">
              </div>
          </div>
          <div class="form-group">
              <label for="inputYoutube" class="col-sm-2 control-label">Youtube playlist address</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputYoutube" placeholder="Youtube playlist address">
              </div>
          </div>
          <div class="form-group">
              <label for="inputCountry" class="col-sm-2 control-label">Country of origin</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputCountry" placeholder="Country of origin">
              </div>
          </div>
          <div class="form-group">
              <label for="inputCity" class="col-sm-2 control-label">City of origin</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputCity" placeholder="City of origin">
              </div>
          </div>
          <div class="form-group">
              <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputGenre" placeholder="Genre">
              </div>
          </div>
          <div class="form-group">
              <label for="inputFounded" class="col-sm-2 control-label">Year of foundation</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputFounded" placeholder="Year of foundation">
              </div>
          </div>
          <div class="form-group">
          <label for="inputMembers" class="col-sm-2 control-label">Members and instruments</label>
            <div class="col-sm-10" id="memberDiv">
              <div id="memberField0">
                <div class="col-sm-9">
                  <input type="text" class="form-control memberField" id="inputMembers0" placeholder="Member">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control instrumentField" id="inputMembersInstrument0" placeholder="Instrument">
                </div>
              </div>
            </div>
            <div class="col-sm-offset-2" id="buttonDiv">
              <button type="button" id="memberButton" class="btn btn-default">Add another member field</button>
              <button type="button" id="removeMemberButton" class="btn btn-default">Remove a member field</button>
            </div>
          </div>
          <div class="form-group">
          <label for="inputDiscography" class="col-sm-2 control-label">Discography</label>
            <div class="col-sm-10" id="albumDiv">
              <div id="albumField0">
                <div class="col-sm-9">
                  <input type="text" class="form-control albumNameField" id="inputAlbums0" placeholder="Album name">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control albumYearField" id="inputYear0" placeholder="Publish year">
                </div>
              </div>
            </div>
            <div class="col-sm-offset-2" id="buttonDiv">
              <button type="button" id="albumButton" class="btn btn-default">Add another album field</button>
              <button type="button" id="removeAlbumButton" class="btn btn-default">Remove an album field</button>
            </div>
          </div>
          <div class="form-group">
              <label for="inputDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                  <!-- <input type="description" class="form-control" id="inputDescription" placeholder="Description"> -->
                  <textarea class="form-control" rows="3" id=inputDescription placeholder="Description"></textarea>
              </div>
          </div>

</div>
          <!-- <label>Twitter:</label><input type="text" name="twitter"><br>
          <label>Soundcloud: </label><input type="text" name="soundcloud"><br>
          <label>Country of origin: </label><input type="text" name="country"><br>
          <label>City of origin: </label><input type="text" name="city"><br>
          <label>Genre: </label><input type="text" name="genre"><br>
          <label>Year of foundation: </label><input type="text" name="found"><br>
          <label>Members: </label><input type="text" name="members"><br>
          <label>Description: </label><input type="text" name="description"><br> -->

          <button type="submit" class="btn btn-default col-md-offset-2">Submit</button>
        </form>


  </section>
</div>

<script src="static/add.js"></script>
</body>

</html>
