<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bambimusiikki</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='artist.css') }} />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>

  <header><img src="tyhja.png"><h1>LOGO</h1></header>

  <div class="container">
    <div class="row">
      <section class="middle_section col-md-8">
        <img src="profiili.png">
            <h3>Name: {{ artist["artist"] }}</h3>
            <h3>Country of origin: {{ artist["country"] }}</h3>
            <h3>City of origin: {{ artist["city"] }}</h3>
            <h3>Genre: {{ artist["genre"] }}</h3>
            <h3>Founded: {{ artist["found"] }}</h3>
            <h3>Members: </h3>
            <ul class="list-unstyled">
              {% for member in artist["members"] %}
                <li>{{ member }}</li>
              {% endfor %}
            </ul>
            <dl class="dl-horizontal">
              <dt>Members: </dt>
              <dd class="list-unstyled">
                  {% for member in artist["members"] %}
                <li>{{ member }}</li>
                  {% endfor %}
              </dd>
            </dl>
            <!-- <h3>Description: {{ artist["description"] }}</h3> -->

            <div>

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#description" data-toggle="tab" aria-controls="description" role="tab">Description</a></li>
                <li role="presentation"><a href="#discography" data-toggle="tab" aria-controls="discography" role="tab">Discography</a></li>
                <li role="presentation"><a href="#links" data-toggle="tab" aria-controls="links" role="tab">Links</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description"><p>{{ artist["description"] }}</p></div>
                <div role="tabpanel" class="tab-pane" id="discography"><p>jotain albumeita</p></div>
                <div role="tabpanel" class="tab-pane" id="links"><p>jotain linkkeja</p></div>
              </div>
            </div>

      </section>

      <section class="right_section col-md-4">
        <div class="twitter">
          <h2>Twitter</h2>
          <h3>Tänne twiittejä... </h3>
        </div>
    </br>
      <div class="soundcloud">
        <h2>Soundcloud</h2>
        <h3>Tänne soundloud juttuja... </h3>
      </div>
      </section>

    </div>
  </div>


</body>

</html>
