<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bambimusiikki</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='artist.css') }} />
</head>

<body>

  <header><img src="tyhja.png"><h1>LOGO</h1></header>


  <section class ="left_section">
    <p>tyhjää</p>
  </section>
  <section class="middle_section">
    <img src="profiili.png">
        <h3>Name: {{ artist["artist"] }}</h3>
        <h3>Country of origin: {{ artist["country"] }}</h3>
        <h3>City of origin: {{ artist["city"] }}</h3>
        <h3>Genre: {{ artist["genre"] }}</h3>
        <h3>Founded: {{ artist["found"] }}</h3>
        <h3>Members: </h3>
        <ul>
          {% for member in artist["members"] %}
            <li>{{ member }}</li>
          {% endfor %}
        </ul>
        <h3>Description: {{ artist["description"] }}</h3>

  </section>

  <section class="right_section">
    <div class="twitter">
      <h2>Twitter</h2>
      <h3>Tänne twiittejä... </h3>
    </div>
</br>
  <div class="soundcloud">
    <h2>Soundcloud</h2>
    <h3>Tänne soundloud juttuja... </h3>
  </div>
  </section>


</body>

</html>
